<nav class="menu">
  <ul class="menu-list">
    <!-- Enlace al dashboard (solo para usuarios autenticados) -->
    <li>
      <a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
    </li>
    <!-- Enlace a la galería (solo para usuarios autenticados) -->
    <li>
      <a routerLink="/gallery" routerLinkActive="active"> Galería </a>
    </li>
    <!-- Enlace al CRUD (solo para usuarios autenticados) -->
    <li>
      <a routerLink="/crud" routerLinkActive="active"> CRUD </a>
    </li>
    <!-- Enlace al perfil del usuario (solo para usuarios autenticados) -->
    <li>
      <a routerLink="/profile" routerLinkActive="active"> Perfil </a>
    </li>
  </ul>
</nav>
